* {
	margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
	height: 100%;
	overflow: hidden;
}

body.dark-mode {
	background-color: black;
	color: white;
}

.mdc-text-field,
.mdc-button {
  --mdc-theme-primary: #82a9bc;
}

body {
	display: grid;
	grid-template-columns: 2.0fr 0fr;
	/*grid-template-columns: 1.2fr 0.8fr;*/
	grid-template-rows: 1fr;
	height: 100%;
	grid-template-areas: "chartdiv control-panel";
}

.dark-mode button,
.dark-mode .buttonlike,
.dark-mode input,
.dark-mode select {
	color: white;
	background: rgb(0, 0, 0);
	border: 1px solid white;
	padding: 0px 8px 0px 8px;
	margin: 5px;
}

.dark-mode button:hover,
.dark-mode .buttonlike:hover {
	background-color: rgb(128, 128, 128);
}

#chartdiv {
	grid-area: chartdiv;
}

.panel {
  display: none;
  float: left;
  z-index: 1;
  position: absolute;
  background-color: #fff;
  animation-duration: 1s;
  box-shadow: 10px 0 5px -2px #d2d2d2;
  
	grid-area: control-panel;
  height: 100%;
	overflow: none;
	min-width: 300px;
}

#legend-panel {
	min-width: 200px;
}

#legend {
	line-height: 1.6em;
}

.path-item {
	margin: auto 2px auto 2px;
}

#show-buttons {
  margin: 10px 10px 0 0;
	position: fixed;
	right: 0px;
}

.hide-button {
	position: relative;
	float: right;
	margin-right: 10px;
}

#result {
	display: grid;
	grid-template-columns: 0.05fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}