* {
	margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
}

a .dark-mode {
  color: white;
}

p {
  font-size: 18px;
}

html {
	height: 100%;
	overflow: hidden;
}

body.dark-mode {
	background-color: black;
	color: white;
}

.mdc-floating-label.dark-mode {
  color: #d2d2d2 !important;
}

.mdc-text-field,
.mdc-button {
  --mdc-theme-primary: #82a9bc;
}

body {
	display: grid;
	/*grid-template-columns: 2.0fr 0fr; */
	grid-template-columns: 1.2fr 0.8fr;
	grid-template-rows: 1fr;
	height: 100%;
	grid-template-areas: "chartdiv control-panel";
}

#chartdiv {
	grid-area: chartdiv;
}

.panel {
  display: none;
  right: 0;
  z-index: 1;
  position: absolute;
  background-color: #fff;
  animation-duration: 1s;
  border-right: 2px solid #d2d2d2;
  
	grid-area: control-panel;
  height: 100%;
	overflow: none;
	min-width: 300px;
}

.panel.dark-mode {
  background-color: #212121;
}

.fields {
  margin-left: 10px;
}

.close-btn {
  margin: 5px 5px 0 0;
  float: right;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.dir-btn {
  margin-right: 15px;
}
.path-item {
	margin: auto 2px auto 2px;
}

.info {
  border-top: 2px solid #d2d2d2;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
}

#show-buttons {
  margin: 10px 10px 0 0;
	position: fixed;
	right: 0px;
}

#result {
	display: grid;
	grid-template-columns: 0.05fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}